@import url("https://fonts.googleapis.com/css2?family=Combo&family=Roboto&family=Teko&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow: #ffc124;
  --header-height: 10vh;
}

img {
  height: 100%;
}

@layer utilities {
  .header {
    height: var(--header-height);
  }

  .fill-below-header {
    height: calc(100vh - var(--header-height));
  }

  .text-primary {
    color: white;
  }

  .text-secondary {
    @apply text-slate-300;
  }

  .bg-primary {
    background-color: black;
  }

  .bg-secondary {
    @apply bg-neutral-700;
  }

  .bg-card {
    @apply bg-neutral-900;
  }

  .font-roboto {
    font-family: "Roboto", sans-serif;
  }

  .font-combo {
    font-family: "Combo", cursive;
  }

  .font-teko {
    font-family: "Teko", sans-serif;
  }

  .text-yellow-custom {
    color: var(--yellow);
  }

  .bg-yellow-custom {
    background-color: var(--yellow);
  }

  .border-yellow-custom {
    border-color: var(--yellow);
  }

  .text-shadow {
    text-shadow: 0 0 5px black;
  }
}

@layer components {
  .tw--section-center {
    @apply w-[65vw] mx-auto;
  }

  .tw--footer-heading {
    @apply font-teko text-3xl mb-6 font-semibold;
  }

  .tw--yellow-hover-text-border:hover {
    @apply text-yellow-custom border-yellow-custom;
  }

  .tw--button {
    @apply block text-yellow-custom border-2 border-yellow-custom rounded-md p-4 cursor-pointer transition-[color,background-color];
  }

  .tw--button:hover {
    @apply text-black bg-yellow-custom;
  }
}

.hover-underline::after {
  display: block;
  content: "";
  background-color: white;
  height: 2px;
  width: 0;
  transition: width 300ms ease-in-out;
}

.hover-underline:hover::after {
  width: 100%;
}

.menu-lists-container {
  --gap: 6rem;
  --item-width: calc(50% - (var(--gap) / 2));
  --scroll: -1;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(--item-width);
  gap: var(--gap);
  transform: translateX(calc(var(--scroll) * (var(--item-width) + var(--gap))));
}

.menu-lists-container.scroll {
  transition: transform 300ms ease-in-out;
}
