@import url("https://fonts.googleapis.com/css2?family=Combo&family=Roboto&family=Teko&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow: #ffc124;
}

img {
  height: 100%;
  object-fit: cover;
}

@layer utilities {
  .text-roboto {
    font-family: "Roboto", sans-serif;
  }

  .text-combo {
    font-family: "Combo", cursive;
  }

  .text-teko {
    font-family: "Teko", sans-serif;
  }

  .text-yellow-custom {
    color: var(--yellow);
  }

  .bg-yellow-custom {
    background-color: var(--yellow);
  }

  .border-yellow-custom {
    border-color: var(--yellow);
  }

  .text-shadow {
    text-shadow: 0 0 5px black;
  }
}

@layer components {
  .tw--section-center {
    @apply w-[65vw] mx-auto;
  }

  .tw--footer-heading {
    @apply text-teko text-3xl mb-6 font-semibold;
  }

  .tw--yellow-hover-text-border:hover {
    @apply text-yellow-custom border-yellow-custom;
  }

  .tw--button {
    @apply block text-yellow-custom border-2 border-yellow-custom rounded-md p-4 cursor-pointer transition-[color,background-color] duration-300;
  }

  .tw--button:hover {
    @apply text-black bg-yellow-custom;
  }
}

.hover-underline::after {
  display: block;
  content: "";
  background-color: white;
  height: 2px;
  width: 0;
  transition: width 300ms ease-in-out;
}

.hover-underline:hover::after {
  width: 100%;
}
